<br><br>
<br> <br>
<div class="container">
    <div *ngFor="let h of AllDeletionHistory">

        <h4>
            Deleted Challan Details
        </h4>


        <p>
            <strong>Challan Number:</strong>
            {{ h.Challan_Code }}
        </p>


        <p>
            <strong>Deleted By:</strong>
            {{ h.Deleted_By_Admin_Name }}
        </p>


        <p>
            <strong>Deleted Date:</strong>
            {{ h.Deleted_Date | date:'dd-MM-yyyy hh:mm a' }}
        </p>


        <p>
            <strong>Reason:</strong>
            {{ h.Deletion_Reason }}
        </p>


        <hr>

        <h5>Deleted Inlet Challan Data</h5>
        <div *ngIf="h.Challan_Data">

            <div class="row">
                <div class="col-md-6">
                    <b>Challan Code : </b>
                    {{ h.Challan_Data.Challan_Code }}

                    <br>

                    <b>Customer Name : </b>
                    {{ h.Challan_Data.Customer_Name }}
                    <br>

                    <b>Vendor Phone No. : </b>
                    {{ h.Challan_Data.Vendor_Phoneno }}
                    <br>

                    <b>Email Address : </b>
                    {{ h.Challan_Data.Vendor_Email }}
                    <br>

                    <b>Company Name : </b>
                    {{ h.Challan_Data.Company_Name }}
                    <br>

                    <b>Company Address : </b>
                    {{ h.Challan_Data.Company_Address }}
                    <br>

                    <b>Company GST No. : </b>
                    {{ h.Challan_Data.GST_No }}
                    <br>

                    <b>Sub Total :</b>
                    {{ h.Challan_Data.Sub_Total }} &#8377;.
                    <br>

                    <b>Total Amount :</b>
                    {{ h.Challan_Data.Total_Amount }} &#8377;.
                    <br>

                    <b>Discount Amount :</b>
                    {{ h.Challan_Data.Discount_Amount }} &#8377;.
                    <br>

                    <b>CGST amount :</b>
                    {{ h.Challan_Data.CGST_amount }} &#8377;.
                    <br>

                    <b>Grand Total :</b>
                    {{ h.Challan_Data.Grand_Total }} &#8377;.
                    <br>
                </div>

                <div class="col-md-6">
                    <b>Transporter Name :</b>
                    {{ h.Challan_Data.Transporter_Name }}
                    <br>
                    <b>Mode of Transport :</b>
                    {{ h.Challan_Data.Mode_of_Transport }}
                    <br>
                    <b>Vehicle Number:</b>
                    {{ h.Challan_Data.Vehicle_Number }}
                    <br>

                    <b>Remark :</b>
                    {{ h.Challan_Data.Remark }}
                    <br>

                    <b>Work Status :</b>
                    {{ h.Challan_Data.Work_Status }}
                    <br>
                    <b>Delivery Status :</b>
                    {{ h.Challan_Data.Delivery_Status }}
                    <br>

                    <b>Challan Status :</b>
                    {{ h.Challan_Data.Challan_Status }}
                    <br>

                    <b>Added Date :</b>
                    {{ h.Challan_Data.Added_Date | date }}
                    <br>

                    <b>Updated Date :</b>
                    {{ h.Challan_Data.Updated_Date | date}}
                    <br>

                    <br>
                </div>
            </div>

        </div>

        <br>

        <h5>Deleted Products</h5>
        <table class="table table-bordered">

            <thead>

                <tr>
                    <th>Product ID</th>
                    <th>Product Name</th>
                    <th>HSN Code</th>
                    <th>Quantity</th>
                    <th>Rate</th>
                    <th>SubTotal</th>
                </tr>
            </thead>


            <tbody>
                <tr *ngFor="let product of h.Product_Data">
                    <td>
                        {{ product.InletProduct_id }}
                    </td>
                    <td>
                        {{ product.Product_Name }}
                    </td>
                    <td>
                        {{ product.HSN_Code }}
                    </td>
                    <td>
                        {{ product.Product_Quantity }}
                    </td>
                    <td>
                        {{ product.Rate }} &#8377;
                    </td>
                    <td>
                        {{ product.SubTotal }} &#8377;
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>