<app-navbar></app-navbar>

<router-outlet></router-outlet>
<div class="container-fluid ">
    <br><br><br>
    <div class="container">
        <h1>Dashboard</h1>
        <br>
        <h4>Welcome Admin User</h4>
    </div>
    <br>

    <div class="card cards">
        <div class="card-body">
            <div class="row">
                <div class="col-md-2">
                    <div class="card cardcount" *ngFor="let t of TotalAdmin">
                        <div class="card-body">
                            <i class="fa-solid fa-user-gear icon"></i>

                            <span class="headlinetext"> Admin</span>
                            <br>
                            <p class="count">{{t.TotalAdmin}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card cardcount" *ngFor="let t of TotalCustomer">
                        <div class="card-body">
                            <i class="fa-solid fa-users icon"></i>
                            <span class="headlinetext"> Customer</span>
                            <p class="count">{{t.Totalnumber}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card cardcount" *ngFor="let t of TotalVendor">
                        <div class="card-body">
                            <i class="fa-solid fa-user-shield icon"></i>
                            <span class="headlinetext"> Vendor </span>
                            <p class="count">{{t.Totalvendor}}</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-2">
                    <div class="card cardcount" *ngFor="let t of TotalSalesorder">
                        <div class="card-body">
                            <i class="fa-solid fa-list-check icon"></i>
                            <span class="headlinetext">Sales Order</span>
                            <p class="count">{{t.TotalSalesorder}}</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="card cardcount" *ngFor="let t of TotalInletChallan">
                        <div class="card-body">
                            <i class="fa-solid fa-list-check icon"></i>
                            <span class="headlinetext"> Inlet Challan</span>
                            <p class="count">{{t.Totalchallan}}</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="card cardcount" *ngFor="let t of TotalVendorChallan">
                        <div class="card-body">
                            <i class="fa-solid fa-list-check icon"></i>
                            <span class="headlinetext"> Vendor Challan </span>
                            <p class="count">{{t.TotalVendorChallan}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>

<div class="container">
    <div class="card cardchallan">
        <div class="card-body">
            <div class="text-start">
                <h3>Inlet Challan</h3>
            </div>
            <div class="text-end">
              <button>  <a class="view" [routerLink]="['/Home/Inletchallan']" title="View All Inlet Challan">View All</a></button>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4" *ngFor="let Ch of Inletchallans">
                    <div class="card carddata">
                        <div class="card-body">
                            <!-- <i class="i fa-solid fa-trash-can text-danger"></i>
                            <i class="i fa-solid fa-pencil"></i>
                            <i class="i fa-solid fa-print"></i>
                            <i class="i fa-regular fa-eye"></i> -->

                            <p>
                                <b>Challan Code :</b> {{Ch.Challan_Code}} <br>
                                <b>Customer Name :</b> {{Ch.Customer_Name}} <br>
                                <!-- <b>Work Status : </b> <span *ngIf="Ch.Work_Status">

                                    <span *ngIf="Ch.Work_Status === 'In Queue'">
                                        <i class="fa-solid fa-clock fa-lg text-primary"></i>
                                    </span>

                                    <span *ngIf="Ch.Work_Status === 'Completed'">
                                        <i class="fa-solid fa-circle-check fa-lg text-success"></i>
                                    </span>

                                    <span *ngIf="Ch.Work_Status === 'Hold'">
                                       <i class="fa-solid fa-circle-pause fa-lg text-warning"></i>
                                    </span>

                                    <span *ngIf="Ch.Work_Status === 'Processing'">
                                         <i class="fa-solid fa-arrows-spin fa-lg text-success"></i>
                                    </span>

                                    <span *ngIf="Ch.Work_Status === 'Breakdown'">                                      
                                       <i class="fa-solid fa-triangle-exclamation fa-lg text-danger"></i>
                                    </span>
                                </span> {{Ch.Work_Status}} <br> -->
                                <span class="status-line" [ngClass]="{
        'status-breakdown': Ch.Work_Status === 'Breakdown',
        'status-completed': Ch.Work_Status === 'Completed',
        'status-processing': Ch.Work_Status === 'Processing',
        'status-hold': Ch.Work_Status === 'Hold',
        'status-queue': Ch.Work_Status === 'In Queue'
      }">
                                    <b>Work Status : </b>
                                    <span *ngIf="Ch.Work_Status === 'In Queue'">
                                        <i class="fa-solid fa-clock fa-lg text-primary"></i>
                                    </span>

                                    <span *ngIf="Ch.Work_Status === 'Completed'">
                                        <i class="fa-solid fa-circle-check fa-lg text-success"></i>
                                    </span>

                                    <span *ngIf="Ch.Work_Status === 'Hold'">
                                        <i class="fa-solid fa-circle-pause fa-lg text-warning"></i>
                                    </span>

                                    <span *ngIf="Ch.Work_Status === 'Processing'">
                                        <i class="fa-solid fa-arrows-spin fa-lg text-success"></i>
                                    </span>

                                    <span *ngIf="Ch.Work_Status === 'Breakdown'"
                                        class="animate__animated animate__flash animate__infinite">
                                        <i class="fa-solid fa-triangle-exclamation fa-lg "></i>
                                    </span>

                                    {{ Ch.Work_Status }}
                                </span> <br>

                                <b>Delivery Status : </b>
                                <span *ngIf="Ch.Delivery_Status">

                                    <span *ngIf="Ch.Delivery_Status === 'In Transport'">
                                        <i class="fa-solid fa-truck-fast fa-lg text-warning"></i>
                                    </span>

                                    <span *ngIf="Ch.Delivery_Status === 'Delivered'">
                                        <i class="fa-solid fa-handshake fa-lg text-success"></i>
                                    </span>

                                    <span *ngIf="Ch.Delivery_Status === 'Not Delivered'">
                                        <i class="fa-solid fa-truck-fast fa-lg text-danger"></i>
                                    </span>

                                </span> {{Ch.Delivery_Status}} <br>
                                <b>Challan Status : </b> <span *ngIf="Ch.Challan_Status">

                                    <span *ngIf="Ch.Challan_Status === 'Open'">
                                        <i class="fa-solid fa-clipboard-list fa-lg text-secondary"></i>
                                    </span>

                                    <span *ngIf="Ch.Challan_Status === 'Close'">
                                        <i class="fa-regular fa-circle-check fa-lg text-success"></i>
                                    </span>

                                    <span *ngIf="Ch.Challan_Status === 'Not Close'">
                                        <i class="fa-regular fa-circle-xmark fa-lg text-danger"></i>
                                    </span>

                                </span> {{Ch.Challan_Status}} <br>
                            </p>

                        </div>
                    </div>
                </div>
            </div> <br><br>

            <hr>
            <div class="text-start">
                <h3>Outward Challan</h3>
            </div>
            <div class="text-end">
                <button><a class="view" [routerLink]="['/Home/OutwardChallan']" title="View All Outward Challan">View All</a></button>
            </div><br>
            <div class="row">
                <div class="col-md-4" *ngFor="let Ch of VendorChallandata">
                    <div class="card carddata">
                        <div class="card-body">
                            <p>
                                <b>Challan Code :</b> {{Ch.VendorChallan_Code}} <br>
                                <b>Vendor Name :</b> {{Ch.Vendor_Name}} <br>
                                <b>Product Status :</b> <span *ngIf="Ch.Product_Status">
                                    <span *ngIf="Ch.Product_Status === 'Received'">
                                        <i class="fa-regular fa-circle-check fa-lg text-success"></i>
                                    </span>

                                    <span *ngIf="Ch.Product_Status === 'Not Received'">
                                        <i class="fa-regular fa-circle-xmark fa-lg text-danger"></i>
                                    </span>

                                </span> {{Ch.Product_Status}} <br>
                                <b>Delivery Status :</b> <span *ngIf="Ch.Delivery_Status">
                                    <span *ngIf="Ch.Delivery_Status === 'Dispatched'">
                                        <i class="fa-solid fa-truck-fast fa-lg text-warning"></i>
                                    </span>

                                    <span *ngIf="Ch.Delivery_Status === 'Delivered'">
                                        <i class="fa-solid fa-handshake fa-lg text-success"></i>
                                    </span>

                                    <span *ngIf="Ch.Delivery_Status === 'Not Delivered'">
                                        <i class="fa-solid fa-truck-fast fa-lg text-danger"></i>
                                    </span>

                                </span> {{Ch.Delivery_Status}} <br>
                                <b>Challan Status : </b> <span *ngIf="Ch.Challan_Status">

                                    <span *ngIf="Ch.Challan_Status === 'Open'">
                                        <i class="fa-solid fa-clipboard-list fa-lg text-secondary"></i>
                                    </span>

                                    <span *ngIf="Ch.Challan_Status === 'Close'">
                                        <i class="fa-regular fa-circle-check fa-lg text-success"></i>
                                    </span>

                                    <span *ngIf="Ch.Challan_Status === 'Not Close'">
                                        <i class="fa-regular fa-circle-xmark fa-lg text-danger"></i>
                                    </span>

                                </span> {{Ch.Challan_Status}} <br>
                            </p>

                        </div>
                    </div>
                </div>
            </div>
            <br><br>
        </div>
    </div>
</div>

<br><br><br>